﻿@model IEnumerable<Common.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="d-flex">
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-6">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.NoOfWeeks)
            </th>
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="d-flex">
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-6">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.NoOfWeeks)
                </td>
                <td class="col-2">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
