﻿@model IEnumerable<Common.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    @using (Html.BeginForm("Index", "Students", FormMethod.Get))
    {
        @Html.TextBox("search")
        <input id="btnSearch" type="submit" value="Search" class="btn" />
    }
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">View</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @{
                        var parms = new Dictionary<string, string> {
                            { "studentId", item.Id.ToString() }
                        };
                    }

                    <a asp-controller="Enrolments" asp-action="Create" asp-all-route-data="@parms">Enroll</a> |
                    <a asp-controller="Holidays" asp-action="Create" asp-all-route-data="@parms">Book Holiday</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts  {
    <script>
        $(document).ready(function () {
            $("#search").change(function () {
                $("#btnSearch").click();
            });
        });
    </script>
}
