﻿@model Common.Models.Holiday

@using Common.Utils

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Holiday</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-warning" role="alert">
                @ViewBag.Message
            </div>
        }

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.Students"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" value="@DateTime.Now.GetNext(DayOfWeek.Monday).ToString("yyyy-MM-dd")" min="@DateTime.Now.GetNext(DayOfWeek.Monday)" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" value="@DateTime.Now.GetNext(DayOfWeek.Monday).GetNext(DayOfWeek.Friday).ToString("yyyy-MM-dd")" min="@DateTime.Now.GetNext(DayOfWeek.Monday).GetNext(DayOfWeek.Friday)" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Students" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#StartDate").change(function () {

                var date = $(this).val();

                $.ajax({
                    type: 'GET',
                    data: { date: date },
                    url: "/Holidays/GetNextFriday", success: function (result) {
                        if (result != "")
                            $("#EndDate").val(result);
                    }
                });

            });
        });
    </script>
}
